.sidebarContainer {
  position: relative;
  height: 100%;
}

.toggleButton {
  position: fixed;
  top: 2.5rem;
  left: 18rem;
  background-color: #e5e5e5;
  color: white;
  padding: 0.5rem;
  border-radius: 0.375rem;
  z-index: 10;
  transition: left 0.3s ease;
}

.sidebar {
  background-color: white;
  width: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.75rem;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
  z-index: 9;
}

.logoContainer {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
  align-items: center;
  width: 100%;
  margin-left: 5rem;
}

.logoBackground {
  background-color: #2500FF;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.logoText {
  font-size: 1.875rem;
  font-weight: bold;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menuItem {
  background-color: #2500FF;
  color: #ddd;
  padding: 0.75rem;
  width: 16rem;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1.75rem;
  border-radius: 1rem;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: #4b5563;
}

.infoButton {
  background-color: rgb(255, 255, 255);
  color: #2500FF;
  border-radius: 0.375rem;
  font-weight: bold;
  width: 70%;
  height: 2rem;
}
.infoBox {
  background-color: #2500FF;
  width: 70%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-top: 40vh;
  border-radius: 1rem;
  color: white;
  justify-content: space-around;
}
