.navbar {
  height: 6rem;
  transition: transform 0.3s ease, width 0.3s ease;
  background-color: var(--navbar-bg-color, #fff);
}

.navbarOpen {
  width: calc(100% - 20rem);
}

.navbarClosed {
  width: 100%;
}


.searchInput {
  background-color: #f3f3f3;
  border-radius: 1rem;
  color:  #c0c0c0;
  height: 3rem;
  padding-left: 2.5rem;
  padding-right: 1.25rem;
  width: 24rem;
}



.searchIcon {
  color: var(--search-icon-color, #2c02ff);
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.notificationIcon {
  background-color: var(--notification-bg-color, #ffcba075);
  border-radius: 0.5rem;
  height: 2.5rem;
  position: relative;
}
